@media screen and (min-width:992px) and (max-width:1200px) {
    .main{ width: 970px;
    margin: 100px auto;}
}
@media screen and (min-width:768x) and (max-width:991px) {
    .main{ width: 768px;
    margin: 100px auto;}
    .single menu img {
        margin-bottom: 25px;
    }
    .single menu { flex-direction: column;}
}